/*------------------------ Map page -------------------------------------*/
/* SVG */
svg{
	overflow: hidden;
	 position: absolute;
	 top:20%;
	 left:30%;
	 z-index: 0;
}
.path-city{
       stroke: #fff;
      }
      .path-city:hover, .path-city-g2:active{
        fill: #fff;
      }
      .path-city{
        fill: #222;
      }
      .path-city-g2{
        fill: #3A539B;
      }
/* other elements */
.pageFollower {
	/*background-color: red;*/
	position: absolute;
	top: 15%;
	right: 30%;
	width: 50%;
	z-index: 1;
}
.pageFollower ul {
	list-style:none;
	padding:12px 12px; margin-right:5%; 
	}
.pageFollower ul li {
	margin:5px 1px;
	display:inline;
	}
.pageFollower ul li a {
	font-family:'b mitra',tahoma,arial;
	font-size:18px;
	color: #22313F;
	text-decoration:none;
	border-bottom:none;
	cursor:pointer;
	}
.pageFollower ul li a:hover{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.pageFollower ul li a:after{
	content:' \003E';
}
.pageFollower li:last-child a:after {
  content: '';
}
/* Tooltips */
/*.path-city:hover:after{
  content: 'hi';
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0; 
  top: 100%;
  white-space: nowrap; 
  z-index: 20px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;  
  border-radius: 5px;  
  -moz-box-shadow: 0px 0px 4px #222;  
  -webkit-box-shadow: 0px 0px 4px #222;  
  box-shadow: 0px 0px 4px #222;  
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);  
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);  
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);  
}*/
#tooltip{
    position: absolute;
    visibility:hidden;
    /*height:100px;
    width:100px;*/
    color:rgb(238, 238, 238);
    font-size: 22px;
    text-align: center;
    background-color: rgba(149, 165, 166, .9);
    padding: 10px 10px 20px 10px;
    z-index: 99;

    -webkit-border-radius:  6px ; 
    -moz-border-radius: 6px ;
    border-radius: 6px ;
}
#tooltip:before{
    border: solid;
    border-color: rgba(149, 165, 166, .8) transparent;
    border-width: 6px 6px 0 6px;
    bottom: -6px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}